:root {
--bg-color: #ffffff;
--bg-card: #ffffff;
--bg-shade: rgba(105, 105, 105, 0.05);
--text-color: #161d24;
--link-color: #054cc3;
--link-shade: rgba(5, 76, 195, .4);
--soft-line: rgba(105, 105, 105, 0.25);
--primary: #9f2b20;
--info: #334353;
--success: #708f49;
--warning: #ee7f11;
--danger: #f44336;
--webkit-bg-color: #ffffff;
--webkit-bg-shade: rgba(105, 105, 105, 0.05);
--webkit-text-color: #161d24;
--webkit-link-color: #054cc3;
--webkit-soft-line: var(--bg-shade);
--skl-soft: #e6e6e6;
--skl-softer: #f0f0f0;
--skl-bold: #d6d6d6;
--skl-bolder: #c9c9c9;
--edge: 14vw;
}
@media only screen and (max-width:1366px){
:root {
--edge: 4vw;
}
}
@media only screen and (max-width:770px){
:root {
--edge: 5vw;
}
}
@media only screen and (max-width:450px){
:root {
--edge: 4vw;
}
}

/* typography */
blockquote:after, .note:after, .success:after, .warning:after, .danger:after { content: ''; width: 2rem; height: 2rem; position: absolute; top: -0.75rem; right: 0.5rem; background-repeat: no-repeat; opacity: 0.25; }
.note:after { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2rem' height='2rem' viewBox='0 0 24 24'%3E%3Cpath fill='%23054cc3' d='M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2m1 15h-2v-6h2zm0-8h-2V7h2z'/%3E%3C/svg%3E"); }
.success:after { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2rem' height='2rem' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23708f49' d='M512 64a448 448 0 1 1 0 896a448 448 0 0 1 0-896m-55.808 536.384l-99.52-99.584a38.4 38.4 0 1 0-54.336 54.336l126.72 126.72a38.27 38.27 0 0 0 54.336 0l262.4-262.464a38.4 38.4 0 1 0-54.272-54.336z'/%3E%3C/svg%3E"); }
.warning:after { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2rem' height='2rem' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23ee7f11' d='M512 64a448 448 0 1 1 0 896a448 448 0 0 1 0-896m0 192a58.43 58.43 0 0 0-58.24 63.744l23.36 256.384a35.072 35.072 0 0 0 69.76 0l23.296-256.384A58.43 58.43 0 0 0 512 256m0 512a51.2 51.2 0 1 0 0-102.4a51.2 51.2 0 0 0 0 102.4'/%3E%3C/svg%3E"); }
.danger:after { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2rem' height='2rem' viewBox='0 0 24 24'%3E%3Cpath fill='%23f44336' d='m23 12l-2.44-2.78l.34-3.68l-3.61-.82l-1.89-3.18L12 3L8.6 1.54L6.71 4.72l-3.61.81l.34 3.68L1 12l2.44 2.78l-.34 3.69l3.61.82l1.89 3.18L12 21l3.4 1.46l1.89-3.18l3.61-.82l-.34-3.68zm-10 5h-2v-2h2zm0-4h-2V7h2z'/%3E%3C/svg%3E"); }
.note, .success, .warning, .danger  { word-break: break-word; white-space: unset; padding: .5rem 1rem; border-radius: .5rem; position: relative; margin: 1rem 0; font-style: italic; font-family: monospace; color: var( --text-color); border-radius: 0 0.5rem 0.5rem 0; }
.note { background: rgba(5, 76, 195, 0.1); border-left: 4px solid var(--link-color);}
.success { background: rgba(112, 143, 73, 0.1); border-left: 4px solid var(--success); }
.warning { background: rgba(238, 127, 17, 0.1); border-left: 4px solid var(--warning); }
.danger { background: rgba(244, 67, 54, 0.1); border-left: 4px solid var(--danger); }
.btn-primary, .btn-secondary, .btn-inactive, .timer, .btn-demo, .btn-download, .btn-buy, .btn-send, .btn-wa, .btn-contact { width: fit-content; padding: 0.25rem 1.25rem 0.5rem; cursor: pointer; border-radius: 0.5rem; border:none!important; } .btn-primary, .timer, .btn-demo, .btn-download, .btn-buy, .btn-send, .btn-wa, .btn-contact { background: var(--link-color); color: white; } .btn-primary a:hover, a.btn-primary:hover, .btn-demo:hover, .btn-download:hover, .btn-buy:hover, .btn-send:hover, .btn-wa:hover, .btn-contact:hover { color: lightgrey!important; } .btn-demo:before, .btn-download:before, .btn-buy:before, .btn-send:before, .btn-wa:before, .btn-contact:before { content: ''; width: 1.1rem; height: 1.1rem; display: inline-flex; background-position: center; margin-inline-end: 0.5rem; vertical-align: text-bottom; } .btn-demo:before { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.1rem' height='1.1rem' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='white' stroke-linecap='round' stroke-width='1.5'%3E%3Cpath stroke-linejoin='round' d='m16.219 17.114l-.51 2.959a1.164 1.164 0 0 1-2.213.093l-2.788-7.882A1.164 1.164 0 0 1 12.2 10.79l8.036 2.788a1.164 1.164 0 0 1-.116 2.234l-3.112.51a1.165 1.165 0 0 0-.79.791'/%3E%3Cpath d='M21.502 9.314A9.726 9.726 0 1 0 9.297 21.5'/%3E%3C/g%3E%3C/svg%3E"); } .btn-download:before{ background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.1rem' height='1.1rem' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='white' stroke-linecap='round' stroke-width='1.5'%3E%3Cpath stroke-miterlimit='10' d='M12 15.238V3.213'/%3E%3Cpath stroke-linejoin='round' d='m7.375 10.994l3.966 3.966a.937.937 0 0 0 1.318 0l3.966-3.966'/%3E%3Cpath stroke-linejoin='round' d='M2.75 13.85v4.625a2.313 2.313 0 0 0 2.313 2.313h13.874a2.313 2.313 0 0 0 2.313-2.313V13.85'/%3E%3C/g%3E%3C/svg%3E"); } .btn-buy:before{ background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.1rem' height='1.1rem' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke-width='2.5' d='M7.537 21.25h.01m10.391 0h.011'/%3E%3Cpath stroke-width='1.5' d='M4.628 6.526h13.097a4.001 4.001 0 0 1 1.543.237A1.734 1.734 0 0 1 20.29 7.88a3.716 3.716 0 0 1-.213 1.686c-.131.57-.25 1.188-.369 1.71a94.616 94.616 0 0 0-.736 3.562a2.92 2.92 0 0 1-.629 1.567a2.243 2.243 0 0 1-1.686.582H9.805a8.643 8.643 0 0 1-1.662 0a1.637 1.637 0 0 1-1.33-.985a16.623 16.623 0 0 1-.463-2.019c-.095-.534-.214-1.068-.332-1.603c-.416-1.983-.89-3.942-1.39-5.853m0 0C4.32 5.267 4 4.009 3.69 2.75M19.553 12H5.934'/%3E%3C/g%3E%3C/svg%3E"); } .btn-send:before{ background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.1rem' height='1.1rem' viewBox='0 0 32 32'%3E%3Cpath fill='white' d='m27.45 15.11l-22-11a1 1 0 0 0-1.08.12a1 1 0 0 0-.33 1L7 16L4 26.74A1 1 0 0 0 5 28a1 1 0 0 0 .45-.11l22-11a1 1 0 0 0 0-1.78m-20.9 10L8.76 17H18v-2H8.76L6.55 6.89L24.76 16Z'/%3E%3C/svg%3E"); } .btn-wa:before{ background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.1rem' height='1.1rem' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M16.6 14c-.2-.1-1.5-.7-1.7-.8c-.2-.1-.4-.1-.6.1c-.2.2-.6.8-.8 1c-.1.2-.3.2-.5.1c-.7-.3-1.4-.7-2-1.2c-.5-.5-1-1.1-1.4-1.7c-.1-.2 0-.4.1-.5c.1-.1.2-.3.4-.4c.1-.1.2-.3.2-.4c.1-.1.1-.3 0-.4c-.1-.1-.6-1.3-.8-1.8c-.1-.7-.3-.7-.5-.7h-.5c-.2 0-.5.2-.6.3c-.6.6-.9 1.3-.9 2.1c.1.9.4 1.8 1 2.6c1.1 1.6 2.5 2.9 4.2 3.7c.5.2.9.4 1.4.5c.5.2 1 .2 1.6.1c.7-.1 1.3-.6 1.7-1.2c.2-.4.2-.8.1-1.2zm2.5-9.1C15.2 1 8.9 1 5 4.9c-3.2 3.2-3.8 8.1-1.6 12L2 22l5.3-1.4c1.5.8 3.1 1.2 4.7 1.2c5.5 0 9.9-4.4 9.9-9.9c.1-2.6-1-5.1-2.8-7m-2.7 14c-1.3.8-2.8 1.3-4.4 1.3c-1.5 0-2.9-.4-4.2-1.1l-.3-.2l-3.1.8l.8-3l-.2-.3c-2.4-4-1.2-9 2.7-11.5S16.6 3.7 19 7.5c2.4 3.9 1.3 9-2.6 11.4'/%3E%3C/svg%3E"); } .btn-contact:before{ background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.1rem' height='1.1rem' viewBox='0 0 16 16'%3E%3Cg fill='white'%3E%3Cpath d='M11 6a3 3 0 1 1-6 0a3 3 0 0 1 6 0'/%3E%3Cpath fill-rule='evenodd' d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1'/%3E%3C/g%3E%3C/svg%3E"); }
.btn-secondary { background: var(--bg-card); color: var(--text-color); border: 1px solid var(--info)!important; } .btn-inactive { background: var(--soft-line); color: dimgray; border: 1px solid var(--soft-line); cursor: not-allowed; } .btn-primary.more { width: fit-content; align-self: flex-end; } .btn-primary:hover, .btn-secondary:hover { -webkit-box-shadow: 0 10px 10px -10px rgb(0 0 0 / 100%);box-shadow: 0 10px 10px -10px rgb(0 0 0 / 10%); } .btn-inactive:hover { -webkit-box-shadow: none!important ;box-shadow: none !important; }
/* start yz */
.absolute {position:absolute} .ai-b {align-items: baseline; } .ai-c, .ai-center { align-items: center; } .as-c, .as-center { align-self: center; } .as-baseline {align-self: baseline; } .as-end {align-self: end;} .bb-1-lg { border-bottom: 1px solid lightgray; } .bb-1-sl { border-bottom: 1px solid var(--soft-line); } .bg-bg-color {background: var(--bg-color);background: var(--webkit-bg-color)} .border-1-sl, .border-1-softline { border: 1px solid var(--soft-line); } .bg-dark { background: #090d15; } .bg-shade {background:var(--bg-shade);background:var(--webkit-bg-shade);} .bg-soft-red {background: var(--soft-red)} .block {display:block} .bold { font-weight: 600; } .br-025 { border-radius: 0.25rem; } .br-03 { border-radius: 0.3rem; } .br-05 { border-radius: 0.5rem; } .br-1 { border-radius: 1rem; } .br-50 { border-radius: 50%; } .border-soft-line {border: 1px solid var(--soft-line)} .bottom-1rem {bottom: 1rem;} .card { background: var(--bg-card); border-radius: 0.5rem; padding: 0.75rem; border: 1px solid var(--soft-line);} .capitalize { text-transform: capitalize; } .color-inherit {color:inherit} .lh-normal {line-height: normal;} .link {color: var(--link-color); cursor: pointer;} .dn, .d-none, .none { display: none; } .fixed {position:fixed} .flex { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; } .flex-1 { flex: 1; } .flex-2 { flex: 2; } .fg-1, .grow-1 { flex-grow: 1; } .fd-col, .column { -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } .column-reverse { flex-direction: column-reverse; } .fd-row, .row { flex-direction: row; } .fit-content { width: fit-content; } .float-right {float: right} .fs-07 { font-size: 0.7rem; } .fs-08 { font-size: 0.8rem; } .fs-09 { font-size: 0.9rem; } .fs-1-5 { font-size: 1.5rem!important; } .fs-1-8 { font-size: 1.8rem; } .fs-2 { font-size: 2rem; } .fsi, .italic { font-style: italic; } .fw-600 { font-weight: 600; } .fw-700 { font-weight: 700; } .g-05 { gap: 0.5rem; } .g-025 { gap: 0.25rem; } .g-1 { gap: 1rem; } .g-2 { gap: 2rem; } .g-3 { gap: 3rem; } .hidden { visibility: hidden; height: 0; width: 0; z-index: -1; } .h-fill { height: -moz-available!important; height: -webkit-fill-available!important; } .ic { max-height: 24px; max-width: 24px; } .jc-fe { justify-content: flex-end; } .jc-c, .jc-center { justify-content: center; } .jc-e, .jc-end { justify-content: end!important; } .jc-r, .jc-right { justify-content: right; } .jc-sa{justify-content: space-around;} .jc-s, .jc-start { justify-content: start!important; } .jc-sb, space-between { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; } .js-end { justify-self: end; } .lh-2-5 { line-height: 2.5rem; } .max-line-1, .max-line-2, .max-line-3, .max-line-4 { overflow: hidden; text-overflow: ellipsis; display: -webkit-box !important; -webkit-box-orient: vertical; } .max-line-1 { -webkit-line-clamp: 1; } .max-line-2 { -webkit-line-clamp: 2; } .max-line-3 { -webkit-line-clamp: 3; } .max-line-4 { -webkit-line-clamp: 4; } .m-0 { margin: 0!important; } .mb-0 { margin-bottom: 0!important; } .mb-025 { margin-bottom: 0.25rem!important; } .mb-05 { margin-bottom: 0.5rem!important; } .mb-1 { margin-bottom: 1rem !important; } .mb-2 { margin-bottom: 2rem; } .mb-3 { margin-bottom: 3rem; } .mb-min-2px { margin-bottom: -2px; } .mt-0 { margin-top: 0!important;} .mt-025 { margin-top: 0.25rem !important; } .mt-05 { margin-top: 0.5rem !important; } .mt-1 { margin-top: 1rem !important; } .mt-1-05 { margin-top: 1.5rem !important; } .mt-2 { margin-top: 2rem !important; } .mt-4 { margin-top: 4rem; } .mt-5 { margin-top: 5rem; } .mh-100vh { min-height: 100vh; } .mie-03 { margin-inline-end: 0.3rem; } .mie-04 { margin-inline-end: 0.4rem; } .mie-2 { margin-inline-end: 2rem; } .mis-05 { margin-inline-start: 0.5rem; } .mx-05 { margin-left: 0.5rem; margin-right: 0.5rem; } .my-05 { margin-top: 0.5rem; margin-bottom: 0.5rem; } .my-1 { margin-top: 1rem !important; margin-bottom: 1rem !important; } .my-2 { margin-top: 2rem !important; margin-bottom: 2rem !important; } .mbe-1 { margin-block-end: 1rem; } .mbe-2 { margin-block-end: 2rem; } .nowrap{flex-wrap:nowrap;text-wrap: nowrap;white-space: nowrap;} .opa-08 { opacity: 80%; } .pos-abso { position: absolute; } .pointer { cursor: pointer; } .p-025 { padding: 0.25rem; } .p-05 { padding: 0.5rem; } .p-075 { padding: 0.75rem; } .p-1 { padding: 1rem; } .p-2 { padding: 2rem; } .pie-1 {padding-inline-end:1rem;} .pl-1 {padding-left: 1rem;} .px-05 { padding-left: 0.5rem; padding-right: 0.5rem; } .px-1 { padding-left: 1rem; padding-right: 1rem; } .px-1-05 { padding: 0 1.5rem; } .py-05 { padding-top: 0.5rem; padding-bottom: 0.5rem; } .py-1 { padding: 1rem 0!important; } .py-2 { padding-top: 2rem; padding-bottom: 2rem; } .py-3 { padding-top: 3rem; padding-bottom: 3rem; } .pt-025 { padding-top: 0.25rem; } .pt-05 { padding-top: 0.5rem; } .pt-1 { padding-top: 1rem; } .pt-2 { padding-top: 2rem; } .pb-05 { padding-bottom: 0.5rem; } .pb-1 { padding-bottom: 1rem; } .pb-2 { padding-bottom: 2rem; } .pb-6 {padding-bottom:6rem;} .pbe-1 { padding-block-end: 1rem; } .pbe-2 { padding-block-end: 2rem; } .relative { position: relative; } .row-reverse { flex-direction: row-reverse; } .shadow { -webkit-box-shadow: 0 5px 15px -10px rgb(0 0 0 / 60%);box-shadow: 0px 5px 15px -10px rgb(0 0 0 / 60%) } .sticky { position: -webkit-sticky; position: sticky; } .ta-c { text-align: center; } .ta-e, .ta-end { text-align: end; } .top-0 { top: 0; } .w-fill { width: -moz-available!important; width: fill-available!important; width: -webkit-fill-available!important; } .w-full, .width-100 { width: 100%; } .wrap { -webkit-flex-wrap: wrap; flex-wrap: wrap; } .zindex-1 { z-index: 1; }
.no-items { padding: 0!important; margin: 0!important; border: none!important; } button { font: inherit; background: 0; border: 0; text-align: left; cursor: pointer; }
.timer {display: inline-block; background: var(--webkit-text-color); color: var(--skl-soft)!important;} .timer span {color: var(--skl-soft);} .timer-count {padding-inline-start: 0.5rem;}
/* end yz */

body, body * {
font-family: sans-serif!important;
}
.jlc-container {
padding-right: 3rem;
padding-left: 3rem;
}
h2.h3.jl_fe_title {
font-weight: bold;
}
.headline h2 {font-size:16px!important;}

.btn-primary.en .mobile-text {display: none;}
a.btn-primary.en {
    padding: 4px 6px;
    font-size: x-small;
    text-wrap-mode: nowrap;
}

#HTML3 {
fill: white;
color:white;
font-size: 90%;
z-index: 2;
}
#HTML3 * {
box-sizing: initial!important;
color: white;
}
#HTML3 svg {
aspect-ratio: 1;
border-radius: 100%;
border: 1px solid #fbfbfb;
padding: 0.5rem;
}
#HTML3 a {
background: transparent;
text-decoration: none;
color: inherit;
}

.dw header, .up header {
position: sticky;
top: 0;
z-index: 12;
-webkit-transition: all .1s ease;
transition: all .1s ease;
width: -webkit-fill-available;
width: -moz-available; }

.dw header { top: -3.95rem!important; }
.admin-bar.dw header {
top: -2.5rem!important;
}

.logo_small_wrapper_table, footer .e-con-boxed.e-con.e-parent, footer .e-con-boxed.e-con.e-parent * {
background-color: black!important;
color: white;
}
img.jl_logo_w, #jl_sb_nav .logo_small_wrapper a * {
max-width: -webkit-fill-available!important;
max-width: -moz-available!important;
}
#jl_sb_nav .jl_close_wapper .jl_close_1, #jl_sb_nav .jl_close_wapper .jl_close_2 {
background-color: white;
}

ul#menu-top-menu {
user-select: none;
scroll-behavior: smooth;
-ms-overflow-style: none;
display: flex;
flex-wrap: nowrap!important;
gap: 0.25rem;
overflow-x: auto;
scroll-snap-type: x mandatory;
}
ul#menu-top-menu::-webkit-scrollbar, .swipe::-webkit-scrollbar {
width: 5px;
height: 5px;
opacity: 0
}
ul#menu-top-menu:hover::-webkit-scrollbar, .swipe:hover::-webkit-scrollbar {
width: 5px;
height: 5px;
opacity: 1
}
ul#menu-top-menu:hover::-webkit-scrollbar-thumb, .swipe:hover::-webkit-scrollbar-thumb {
background: #d3d3d3;
border-radius: 10px
}
ul#menu-top-menu:hover::-webkit-scrollbar-track, .swipe:hover::-webkit-scrollbar-track {
border-radius: 10px;
background: 0 0
}

.max-line-1, .max-line-2, .max-line-3, .max-line-4 {
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box !important;
-webkit-box-orient: vertical;
}
.max-line-4 {
-webkit-line-clamp: 4;
}
.max-line-3 {
-webkit-line-clamp: 3;
}
.max-line-2 {
-webkit-line-clamp: 2;
}
.max-line-1 {
-webkit-line-clamp: 1;
}

#clockngreet {color:lightgray;}
.navigation_wrapper {
	align-items: start;
justify-content: start;
border-top: 1px solid dimgray;
padding-top: 0.65rem;
}
header .navigation_wrapper ul span {padding: 0 0 0.5rem;font-size: smaller;}

.intersec {
background: rgba(0,0,0,0.05);
padding-block: 2rem;
}
ul#menu-top-menu ul.sub-menu {
position: fixed;
top: 6.5rem;
z-index: 10;
}
.admin-bar ul#menu-top-menu ul.sub-menu {top:8.5rem;}
.dw ul#menu-top-menu ul.sub-menu {
top: 2.5rem;
}
.admin-bar.dw ul#menu-top-menu ul.sub-menu {top:4.5rem;}

.recent-blg-multi.grid ul,.recent-wp-multi.grid ul,.recent-blg.grid ul,.recent-wp.grid ul {
display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: flex-start;
gap: 2rem 4%;
margin-block-end: 1.5rem;
}
.recent-blg-multi.grid ul li,.recent-wp-multi.grid ul li,.recent-blg.grid ul li,.recent-wp.grid ul li {
flex: 1 1 30%;
max-width: 31%;
min-width: 30%;
position: relative;
flex-direction: column;
padding: 0!important;
margin: 0!important;
border: 0;
}
.recent-blg-multi.grid ul li img, .recent-blg-multi.grid ul li .post-img, .recent-wp-multi.grid ul li img, .recent-wp-multi.grid ul li .post-img, .recent-blg .post-img, .recent-wp .post-img, .recent-blg .post-img img, .recent-wp .post-img img {
aspect-ratio: 16/9;
max-width: 220px;
height: auto!important;
width: -webkit-fill-available!important;
}
.recent-blg-multi.grid ul li a,.recent-wp-multi.grid ul li a {
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box !important;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
}

.jlc-hmain-w .jlc-hmain-in, .jlc-stick-main-w .jlc-stick-main-in {
background: black!important;
}

.intersec .recent-blg-multi.grid ul, .intersec .recent-wp-multi.grid ul, .intersec .recent-blg.grid ul, .intersec .recent-wp.grid ul {
gap: 2rem 2%;
}
.intersec .recent-blg-multi.grid ul li, .intersec .recent-wp-multi.grid ul li, .intersec .recent-blg.grid ul li, .intersec .recent-wp.grid ul li {
flex: 1 1 23%;
max-width: 23.5%;
min-width: 23%;
}
.intersec .recent-blg-multi.grid img, .intersec .recent-blg-multi.grid .post-img, .intersec .recent-blg.grid img, .intersec .recent-blg.grid .post-img, .intersec .recent-wp-multi.grid img, .intersec .recent-wp-multi.grid .post-img, .intersec .recent-wp.grid img, .intersec .recent-wp.grid .post-img {
max-width: -webkit-fill-available!important;
max-width: -moz-available!important;
border-radius: 0.5rem;
}

.jl_sh_num .jl_nun_d {
background: rgba(0,0,0,0.05)!important;
color: dimgray!important;
font-weight: 100!important;
}


.swipe {
user-select: none;
scroll-behavior: smooth;
-ms-overflow-style: none;
display: flex;
flex-wrap: nowrap!important;
gap: 1rem;
overflow-x: auto;
overflow-y: hidden;
scroll-snap-type: x mandatory;
}
.horizontal-scroll {
display: flex;
overflow-x: auto;
scroll-snap-type: x mandatory;
padding-bottom: 10px;
gap: 15px;
}
.horizontal-scroll .video-card {
flex-shrink: 0;
scroll-snap-align: start;
border-radius: 10px;
overflow: hidden;
aspect-ratio: 9/16;
position: relative;
width: 150px;
}
.video-card img {
margin: 0!important;
padding: 0!important;
}
#close-viewer, .video-card-overlay {
border: 0;
cursor: pointer;
text-align: center;
display: block;
}
.video-card-overlay {
position: absolute;
inset: 0;
background: rgba(0,0,0,.1);
font-size: 1.9em;
opacity: 1;
transition: opacity .3s;
z-index: 10;
height: 100%;
width: 100%;
}
.vertical-scroll {
position: fixed;
inset: 0;
overflow-y: scroll;
scroll-snap-type: y mandatory;
background-color: #000;
z-index: 1000;
}
.vertical-scroll .video-card {
scroll-snap-align: start;
display: flex;
justify-content: center;
align-items: center;
width: fit-content;
justify-self: center;
position: relative;
}
.vertical-scroll, .vertical-scroll .video-card {
width: -webkit-fill-available;
height: -webkit-fill-available;
}
#close-viewer {
position: fixed;
top: 1rem;
right: 1rem;
z-index: 1001;
background: rgba(255,255,255,.2);
color: #fff;
border-radius: 50%;
width: 40px;
height: 40px;
font-size: 1.2em;
line-height: 40px;
padding: 0;
}
iframe {
border-width: 0;
max-width: -webkit-fill-available;
max-width: -moz-available;
}
.video-card-iframe {
width: 100%;
height: 100%;
border: 0;
}
.vertical-scroll .video-card-iframe {
aspect-ratio: 9/16;
position: relative;
}


@media only screen and (max-width:770px) {
	a.logo_link img, .jlh-d .logo_small_wrapper_table .logo_small_wrapper .logo_link img, .logo_small_wrapper_table .logo_small_wrapper .logo_link * {
    height: 2rem;
	}
	.btn-primary.en .mobile-text {
        display: inline;
    }
    .btn-primary.en span:not(.mobile-text), .jl_shwp.jl_shsmb {
        display: none!important;
    }
	.jlc-container {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	}
	.dw header, .up header, .admin-bar.dw header {
		top: 0!important;
	}
	.recent-blg-multi.grid ul li {
		flex: 1 1 45%;
		max-width: 49%;
		min-width: 45%;
	}
	#clockngreet {
		padding-inline-start: 0!important;
		border-inline-start: 0!important;
	}
	.jl_lisep:after {
		content: none!important;
	}
	.intersec .recent-blg-multi.grid ul, .intersec .recent-wp-multi.grid ul, .intersec .recent-blg.grid ul, .intersec .recent-wp.grid ul {
		gap: 2rem 4%;
	}
	.intersec .recent-blg-multi.grid ul li, .intersec .recent-wp-multi.grid ul li, .intersec .recent-blg.grid ul li, .intersec .recent-wp.grid ul li {
		flex: 1 1 48%;
		max-width: 48%;
		min-width: 48%;
	}
	.recent-blg-multi.grid ul li img, .recent-blg-multi.grid ul li .post-img, .recent-wp-multi.grid ul li img, .recent-wp-multi.grid ul li .post-img, .recent-blg .post-img, .recent-wp .post-img, .recent-blg .post-img img, .recent-wp .post-img img {
		max-width: 100px; aspect-ratio:1/1;
	}
	.headline .post-img, .headline img, .intersec .post-img, .intersec img {
		max-width: 220px!important;
		aspect-ratio:16/9!important;
	}
	footer .elementor-element.e-con-full.e-flex.e-con.e-child {
		padding-inline: 0;
	}
}

a.logo_link img, .jlh-d .logo_small_wrapper_table .logo_small_wrapper .logo_link img, .logo_small_wrapper_table .logo_small_wrapper .logo_link * {
height: 2.5rem;
width: auto!important;
max-width: unset!important;
}

.jlc-stick-main-w.jlc-hop4.jl_cus_sihead.jl_r_menu, .dn-i, .d-none-i, .none-i { display: none!important; } 
